<app-nav-bar [isHome]="false"></app-nav-bar>

<main>

  <div class="section-1">
      <div class="section-1-titulo">
          <h1>QUEM SOU?</h1>
          <p>de Maria Angélica Roma</p>
      </div>
      <div class="section-1-img">
          <img src="./../../assets/book.svg">
      </div>
  </div>

  <div>
      <hr>
  </div>

  <div class="section-2">
      <img src="./../../assets/Capturar-removebg-preview.png">
      <ul>
          <li>Você sabia que um dos itens para a plenitude de sua vida começa com o autoconhecimento?</li>
          <li>Você se conhece o suficiente para tomar decisões sábias em sua vida?</li>
          <li>Você tem bom relacionamento interpessoal?</li>
          <li>Você tem mais sucessos do que fracassos em sua vida?</li>
          <li>Você se sente uma pessoa capaz de decidir sua vida com força e coragem?</li>
          <li>Você é uma pessoa plena?</li>
      </ul>

      <p>Saiba que a maior responsabilidade de sua vida é a sua vida. Não deixe ninguém ou nada decidir algo
          em
          sua vida que é de importância vital.</p>
      <p>Você pode escolher ter cada dia pleno com escolhas conscientes ou deixar a vida e outras pessoas
          escolherem por você.</p>

      <h3>É VOCÊ QUE DECIDE!</h3>

      <p>Tudo começa ao você saber exatamente “QUEM É VOCÊ”. </p>
      <p>Esse livro foi feito para proporcionar a você a condição do autoconhecimento e conseqüente autoestima
          equilibrada.</p>
  </div>



</main>

<app-float></app-float>
