<main>
    <section class="container">

        <div class="container-1">
            <div class="container-1-title">
                <a routerLink="/home"><img src="./../../assets/avatar.png" class="logo"></a>
                <h2>Painel de Curso</h2>
                <form>
                    <label for="username">E-mail</label>
                    <input type="text" id="username" name="username" formName="" placeholder="you@example.com">
                    <label for="pass">Senha</label>
                    <input type="password" id="pass" name="password" placeholder="Digite sua senha">
                </form>
                <button type="submit" class="button">Entrar</button>
            </div>

        </div>

        <div class="container-2">
            <img src="./../../assets/hello.svg" alt="">
        </div>

    </section>
</main>