<main>
    <section class="container">

        <div class="container-1">
            <div class="container-1-title">
                <a routerLink="/home"><img src="./../../assets/avatar.png" class="logo"></a>
                <h2>Painel de Curso</h2>
                <form [formGroup]="form">
                    <label for="username">E-mail</label>
                    <input type="text" class="username" name="username" formControlName="fcEmail" placeholder="you@example.com">
                    <label for="pass">Senha</label>
                    <input type="password" class="pass" name="password" formControlName="fcPassword" placeholder="Digite sua senha">
                </form>
                <button type="submit" [disabled]="form.invalid" (click)="login()" class="button">Entrar</button>
            </div>

        </div>

        <div class="container-2">
            <img src="./../../assets/hello.svg" alt="">
        </div>

    </section>
</main>