<footer>
  <div class="title-section-4">
      <h2>Entre em contato conosco!</h2>
  </div>
  <div class="section-4">
      <div class="section-4-contato">
          <div class="section-4-flex">
              <a style="text-decoration:none;" href="#"><img src="./../../../assets/localizacao.svg">
                  <p>Residencial dos Girassóis, Caldas Novas - GO</p>
              </a>
          </div>
          <div class="section-4-flex"><a href="#" style="text-decoration:none;"><img src="./../../../assets/facebook.svg">
                  <p>/mariaangelicaroma</p>
              </a>
          </div>
          <div class="section-4-flex">
              <a style="text-decoration:none;" href="#"><img src="./../../../assets/instagram.svg">
                  <p>@mariaangelicaroma</p>
              </a>
          </div>
          <div class="section-4-flex">
              <a style="text-decoration:none;" href="#"><img src="./../../../assets/mail.svg">
                  <p>atendimento@mariaangelicaroma.com.br</p>
              </a>
          </div>

      </div>
      <div class="section-4-img">
          <img src="./../../../assets/img-footer.svg">
      </div>
  </div>

  <div class="section-5">
      <h3>© 2021 Smithsons do Brasil - Todos os Direitos Reservados.</h3>
  </div>
</footer>